<div class="panel panel-default" >
  <div class="panel-heading">Pirate #{{pirate.id}}
      <a href="javascript:void(0)" ng-click="vm.removePirate(pirate.id)">
        <span class="glyphicon glyphicon-remove pull-right"></span>
      </a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">
        <img ng-src="{{pirate.img_url}}" alt="">
      </div>
      <div class="col-sm-8">
        <h2>{{ pirate.name }}</h2>
        <p>Poison: {{ pirate.poison }}</p>
        <p>Accessory: {{ pirate.accessory }}</p>
      </div>
    </div>
  </div>
</div>

